<!-- <h1>Esta es app que simula un piano</h1>
<a routerlink="['/dados']" class="btn btn-outline-soucess">Pagina Dados</a>

<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)= "aplicar_sonido(1)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a (click)= "aplicar_sonido(2)" class="list-group-item list-group-item-action" style="background-color:yellow ;"></a>
      <a (click)= "aplicar_sonido(3)" class="list-group-item list-group-item-action" style="background-color:green ;"></a>
      <a (click)= "aplicar_sonido(4)" class="list-group-item list-group-item-action" style="background-color:teal ;"></a>
      <a (click)= "aplicar_sonido(5)" class="list-group-item list-group-item-action" style="background-color:blue ;"></a>
      <a (click)= "aplicar_sonido(6)" class="list-group-item list-group-item-action" style="background-color:purple ;"></a>
      <a (click)= "aplicar_sonido(7)" class="list-group-item list-group-item-action" style="background-color:red ;"></a>
      </div>
    </div>
</div> -->
<h1>Dados</h1>
<div class="container text-center">
  <button class="btn btn-soucess btn-lg">Lanzar dados</button>
  <br/>
  <img src="../assets/img/dice1.png" alt="" class="img">
  <img src="../assets/img/dice4.png" alt="" class="img">
</div>


  <!-- <audio controls>

<source src="../assets/sonidos/note1.wav">

</audio> -->